/* =================================
  Base Element Styles
==================================== */

*{
  box-sizing:border-box;
}

body{
  font-family: 'Merriweather', serif;
  line-height:1.6;
  color: #1C1C1C;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .85em;
  color:#696969;
  margin:0;
}



h1,
h3,
h2
{
font-size:1em;
margin-top:0;
margin-bottom:5px;
}

h2{
  font-size:1.3em;
}







a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */


.name a{
	display: inline-block;
	padding: 10px 15px;
  font-size: 1.5em;
  margin: 0;
  color:#fff;
  text-transform: uppercase;
}


.newslettersection{
  text-align: left;
margin:0;
padding:0;
background-color: #4ebbb5
}

.newsletter{
padding: 15px;

}
/* ---- Layout Containers ---- */

.bodycontent{
  max-width:90%;
  text-align:center;
  margin:0 auto;
}

.name{
  text-align: center;
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
  background-color:#2d3945;
}

.intro{
  padding:20px 0px;
  font-size:1.2em;
}


.divider1{
  padding:3px 0;
  background-color: #2d3945;
}

.divider2{
  margin-top:2px;
  padding:1px 0;
  background-color: #2d3945;
}

.divider3{
  margin-top:2px;
  padding:1px 0;
  background-color: #2d3945;
}


.main-footer {
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
  color:#bdbdbd;
}

fieldset{
  border:none;
  padding-left:0;
}

legend{
  font-size:1.4em;
  font-weight:600;
}



/* =================================
  Form - base styling
==================================== */

form{
  text-align: left;
  margin:20px 0 20px 0;
}

label{
  display:block;
  color:#696969;
  margin-bottom:10px;
}

label[class="checkboxlabel"]{
  display:inline;
}

button{
border-radius: 5px;
padding: 15px 25px;
font-size: 22px;
text-decoration: none;
color: #fff;
background-color: #4ebbb5;
font-family: initial;
width:100%;
cursor:pointer;
border-color: #fff;
}

button:hover{
  background-color: #68d0ca;
}

option:nth-child(odd){
  background-color: #A9A9A9;
}

.divider3{
  margin-top:30px;
}

.section1{
  padding-bottom:25px;
  box-shadow: 0 5px 10px
  rgba(178,76,76,0.3),
    0 6px 6px
    rgba(0,0,0,0.23);
}

.fieldstyling{
  padding:0 15px 0 15px;
}

textarea{
  margin-bottom:15px;
}
/* =================================
  Form - type input styling
==================================== */

input[type="text"]{
  width:100%;
  transition: border 1s ease-in;
  transition: background-color 1s  ease-in;

}

input[type="text"]:focus{
 background-color: #4ebbb5;
   border:2px solid #2d3945;
}

input[type="text"]{
  width:80%;
}


input[id="zip-code"]{
  width:50%;
}

input::placeholder{
  text-align:right;
  font-style:italic;
}

.checboxblock{
  display:block;
}

#topic{
  min-width:100%;
  min-height:100px;
  max-height:250px;
  border:none;
  background-color:#DCDCDC;
}

input[type^="text"],
select
{
  background-color:#DCDCDC;
  padding:10px;
  border-radius: 4px;
  border:none;
}



select:focus{
  border: 2px solid  #2d3945;
}

select{
  width:100%;
}

label{
  padding-top:10px;
}

input[type="radio"],
input[type=checkbox]{
  background-color:#4ebbb5;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {


.bodycontent{
  max-width:700px;
  margin: 0 auto;;
}

.intro{
  padding:50px 0px;
}


.divider2{
  margin-bottom:25px;
}
.divider3{
  margin-top:0px;
}

label[for="name"]
{
  display:inline;
}





.zip-code{
  width:80%;
  margin-left:auto;
}

.desktoptextfields input[id="zip-code"]{
  width:initial;
}

select{
  width:80%;
}

#topic{
  width:100%;
  min-width:50%;
  max-width:100%;
  width:100%;
}

/** Flex containers and items**/

.desktoptextfields{
  padding:20px 0;
  display:flex;
}

.desktoptextfields > label{
  align-self:center;
  margin:0;
}

.desktoptextfields > input{
  align-self:flex-end;
  margin-left:auto;
}

.desktoptextfields > select{
  align-self:flex-end;
  margin-left:auto;
}



form{
  margin-bottom:0px;
}

}
