/* =================================
  Base Element Styles
==================================== */

*{
  box-sizing:border-box;
}

body{
  font-family: 'Merriweather', serif;
  line-height:1.6;
  color: #1C1C1C;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .85em;
  color:#bdbdbd;
  margin:0;
}



h1,
h3,
h2
{
font-size:1em;
margin-top:0;
margin-bottom:5px;
}

h2{
  font-size:1.5em;
}





a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */


.name a{
	display: inline-block;
	padding: 10px 15px;
  font-size: 1.5em;
  margin: 0;
  color:#fff;
  text-transform: uppercase;
}





/* ---- Layout Containers ---- */

.bodycontent{
  max-width:90%;
  text-align:center;
  margin:0 auto;
}

.name{
  text-align: center;
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
  background-color:#001a34
}

.intro{
  padding:20px 0px;
  font-size:1.2em;
}

.intro p{
  color:#939393
}

.divider1{
  padding:3px 0;
  background-color: #001a34
}

.divider2{
  margin-top:2px;
  padding:1px 0;
  background-color: #001a34
}


.main-footer {
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
  text-decoration:
  color:#bdbdbd;
}

/* =================================
  Form - base styling
==================================== */

form{
  text-align: left;
  margin:20px 0 20px 0;
}

label{
  display:block;
}

label[class="checkboxlabel"]{
  display:inline;
}
/* =================================
  Form - type input styling
==================================== */

input[type="text"]{
  width:100%;

}

input[id="zip-code"]{
  width:30%;
}

input::placeholder{
  text-align:right;
}

.checboxblock{
  display:block;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

}
