/* =================================
  Base Element Styles
==================================== */

*{
  box-sizing:border-box;
}

body{
  font-family: 'Merriweather', serif;
  line-height:1.6;
  color: #1C1C1C;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .85em;
  color:#696969;
  margin:0;
}



h1,
h3,
h2
{
font-size:1em;
margin-top:0;
margin-bottom:5px;
}

h2{
  font-size:1.3em;
}







a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */


.name a{
	display: inline-block;
	padding: 10px 15px;
  font-size: 1.5em;
  margin: 0;
  color:#fff;
  text-transform: uppercase;
}


.newsletter{
margin: 20px 0 20px;
}


/* ---- Layout Containers ---- */

.bodycontent{
  max-width:90%;
  text-align:center;
  margin:0 auto;
}

.name{
  text-align: center;
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
  background-color:#2d3945;
}

.intro{
  padding:20px 0px;
  font-size:1.2em;
}


.divider1{
  padding:3px 0;
  background-color: #2d3945;
}

.divider2{
  margin-top:2px;
  padding:1px 0;
  background-color: #2d3945;
}

.divider3{
  margin-top:2px;
  padding:1px 0;
  background-color: #2d3945;
}


.main-footer {
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
  text-decoration:
  color:#bdbdbd;
}

/* =================================
  Form - base styling
==================================== */

form{
  text-align: left;
  margin:20px 0 20px 0;
}

label{
  display:block;
  color:#696969;
  margin-bottom:10px;
}

label[class="checkboxlabel"]{
  display:inline;
}

button{
border-radius: 5px;
padding: 15px 25px;
font-size: 22px;
text-decoration: none;
color: #fff;
background-color: #4ebbb5;
font-family: initial;
width:100%;
cursor:pointer;
}

button:hover{
  background-color: #68d0ca;
}

option:nth-child(odd){
  background-color: #A9A9A9;
}
/* =================================
  Form - type input styling
==================================== */

input[type="text"]{
  width:100%;

}

input[id="zip-code"]{
  width:50%;
}

input::placeholder{
  text-align:right;
  font-style:italic;
}

.checboxblock{
  display:block;
}

#topic{
  width:100%;
  height:100px;
  border:none;
  background-color:#DCDCDC;
}

input[type^="text"],
select
{
  background-color:#DCDCDC;
  padding:10px;
  border-radius: 4px;
  border:none;
}

input[type="text"]:focus{
  border: 2px solid  #2d3945;
}


select:focus{
  border: 2px solid  #2d3945;
}

select{
  width:100%;
}

input[type="checkbox"]{
  background-color: #4ebbb5;
}

input[type="radio"]{
  background-color: #4ebbb5;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
form,
.divider1,
.divider2,
.divider3
{
  max-width:700px;
  margin:0 auto;
}
.divider2{
  margin-bottom:25px;
}
.divider3{
  margin-top:25px;
}

label[for="name"]
{
  display:inline;
}

input[type="text"]{
  width:90%;
}



/** Flex containers and items**/

.desktoptextfields{
  padding:20px 0;
  display:flex;
}

label[for="name"]{
  align-self:flex-start;
}

input[id="name"]{
  align-self:flex-end;
}
